<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/CSS/style.css">

</head>
<body>

<h1>Task Update</h1>
<br>
<br>
<form th:action="@{/saveupdate}" th:object="${task}" method="post">

<div>

<label for="title">Title</label>
<input type="text" placeholder="Enter Title" name="title" th:field"*{title}">
<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
<br>
<br>
<label for="description">Description</label>
<input type="text" placeholder="Enter description" name="description" th:field"*{description}">
<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
<br>
<br>

<label for="dueDate">Choose duedate</label>
<input type="date"  name="dueDate" id="dueDate" value="dueDate" >
<br>
<br>
<label for="status">status</label>
<input type="text" placeholder="Enter status" name="status" th:field"*{status}">
<span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
<br>
<br>
<input type="Submit">

</form>
</div>




</form>

</body>
</html>